body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  margin: 0;
}

a {
  color: rgb(157, 66, 69);
  text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
    }

.header {
  text-align: right;
  font-size: 14px;
  margin: 20px 40px -20px 0;
}

.container {
  padding: 20px 30px;
  }
  .spacer { clear: both; }
  .logo {
    float: left;
    }
  .about {
    float: left;
    margin-top: 5%;
    }
    .about h1 {
      font-size: 50px;
      line-height: 0px;
      margin-bottom: 22px;
      }
    .about h2 {
      font-size: 24px;
      margin-top: 0;
      font-weight: 100;
      margin-left: 2px;
      }
    .about p {
      font-size: 20px;
      }
  .questions {
    background-color: rgb(155, 18, 18);
    color: #fff;
    }
    .questions a {
      color: #ffaaaa;
      }
    .question {
      font-size: 20px;
      }
      .question h3 {
        font-size: 24px;
        }
  .events {
    }
    .events h2 {
      font-size: 28px;
      }
  .event {
    width: 30%;
    margin: 0 auto;
    border: 1px solid rgb(221, 76, 76);
    padding: 0 20px 10px;
    }
    .event h3 {
      font-size: 24px;
      }
    .event p {
      font-size: 16px;
      }
    .event address h4 {
      display: inline-block;
      margin-top: 0;
      }
  .footer {
    text-align: center;
    background-color: rgb(155, 18, 18);
    color: #fff;
    }
    .footer .container {
      padding: 1px;
      }
    .footer span {
      font-weight: 600;
      }

/* Small screens */
@media only screen and (max-width: 50em) { /* max-width 640px, mobile-only styles, use when QAing mobile issues */
  .logo {
    width: 100%;
    }
    .logo img {
      width: 345px;
      height: 345px;
      display: block;
      margin: 0 auto;
      }
  .about {
    width: 100%;
    }
  .event {
    width: 90%;
    }
}

/* Medium screens */
@media only screen and (min-width: 50.063em) and (max-width: 90em) { /* min-width 641px and max-width 1440px, use when QAing tablet-only issues */
  .logo {
    width: 30%;
    }
    .logo img {
      width: 100%;
      height: auto;
      }
  .about {
    width: 65%;
    }
  .question {
    margin-top: 20px;
    display: block;
    float: left;
    width: 30%;
    padding: 1%;
    }
    .question:first-child {
      margin-left: 3%;
      }
  .event {
    width: 50%;
    }
}

/* Large screens */
@media only screen and (min-width: 90em) { /* min-width 1440px, large screens */
  .logo {
    width: 345px;
    height: 345px;
    }
  .about {
    width: 65%;
    }
  .question {
    display: block;
    float: left;
    width: 30%;
    padding: 1%;
    }
    .question:first-child {
      margin-left: 3%;
      }
  .event {
    width: 30%;
    }
}
